.example-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-left: 435px;
  margin-top: 10px;
}

.example-container > * {
  width: 50%;
  /* margin-top: 75px; */
}

/* .example-button {
    margin-left: 175px;
  } */
.movieevent{
  background-image: url("https://agc.creativelive.com/agc/courses/2432-1.jpg"); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body {
  margin: 0;
}
.spacer {
  flex-grow: 1;
}
.medium-list {
  /* margin-top: 70px; */
  /* width: 600px; */
  padding: 10px;
}

.list-viewer-wrapper {
  border-radius: 20px;
  background: url("/assets/images/background3.jpg") no-repeat center center; 
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 4px;
}

.list-header-title {
  color: rgba(0, 0, 0, 0.54);
  background: rgba(0, 0, 0, 0.03);
  padding: 8px 20px;
  font-weight: bold;
}

.jumbotron {
  margin: auto;
  max-width: 70%;
  max-height: 20%;
  margin-bottom: 0%;
  background: transparent;
  
    
}

.list-viewer-wrapper {
  border: outset;
  width: 90%;
}
.divider {
  margin-top: 10px !important;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.medium-list {
  margin-bottom: 15%;
}
.btn-group button {
  background-color: #2b332c; /* Green background */
  border: 1px solid rgb(61, 69, 70); /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #0d0e0d;
}


/* .btn-group {
  margin: 0 auto; 
  display: inline-block; 
  margin: auto;
  width: 50%; 
  border-radius: 10px; 
  border: none; 
  padding: 10px 20px; 
  
} */

/* @media only screen and (max-width: 480px) {

  .btn-group .button1 {
  
  width: 100% !important;
  
  }
  
  } */

  