.ArenaLayout { 
    border: solid 0.5px lightgoldenrodyellow ;
    width: 306px;
    height: 310px; 
    margin: auto; 
    background-color: beige;
    border-radius: 4px;
    margin-top: 1.5%;
}

.seatLayout button{
    margin-left: 43%;
    margin-top: 2%;
}
.seat {
    width: 20px;
    height: 20px;
    margin: 5px;
    float: left;   
    border-radius: 4px;
}

.seatPassage {
    width: 20px;
    height: 20px;
    margin: 5px;
    float: left;   
    border-radius: 4px;
}
.clearfix { clear: both;}
.available {
    background-color: lightgray;
}

.passage{
    pointer-events: none;
    background-color:beige;
}
.hovering{
	background-color: grey;
}
.selected{
    background-color:rgb(183, 255, 183) ;
}
.name h2{
    text-align: center;
    display: block;
    font-family: cursive;
}

.screen{
    display: block;
    text-align: center;
    font-family: cursive;
    margin-top:2%;
    color: black;
    font-weight: bold;
    font-size: 140%;
}

.bookButton{
    display: block;
    margin-top: 1%;
    margin-bottom: .5%;
}

.bookButton button{
    margin: 0 auto;
    display: block;
    width: 40px;
}

.booked{
    background-color: lightcoral;
    pointer-events: none;
}

.blocked{
    background-color: rgb(139, 137, 137);
    pointer-events: none;
}

.name h2{
    text-align: center;
    color: black;
    margin-top: 50px;
}
