mat-grid-list {
  margin-top: 58px;
}

/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

footer {
  /* position: ficlass="example-card"xed; */
  right: 0;
  bottom: 0;
  /* margin-bottom: 0px; */
  left: 0;
  padding: 1rem;
  background: #333;
  color: #eee;
  font-size: 11px;
  /* padding: 20px; */
  /* background-color: #efefef;
    text-align: center; */
}

mat-grid-list {
  margin-top: 1%;
}


#container {
  width: 100%;
  margin-top: 50px;
  /* padding-bottom: -50px; */
  background: transparent;
}
.items {
  max-width: 900px;
  /* max-height:300px; 
    background: rgb(24, 23, 23); */
}
.movieposter {
  /* min-height: auto;
     max-height: auto; */
  height: 350px; /* Your height here */
  width: 900px;
  margin: auto;

  /* overflow: hidden; */
}
.movieposter:hover {
  transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
  opacity: 1.2;
}
/* .render {
  /* min-height: auto;
    max-height: auto; */
  /* height: 300px; /* Your height here */
  /* width: 345px; */
  /* overflow: hidden; */
 
/* }  */
.render1{
  border-radius: 15px;
  /* height: 300px;  */
  /* width: 345px; */
  overflow: hidden;
 
}
.render{
  width: 300px; 
  height: 345px;
}

#left,
#right {
  margin: 30px;
  height: 50px;
  width: 50px;
  color: aliceblue
}

/* img{
    max-width: auto;
    max-height: auto;
} */

mat-card {
  border: 1px solid #999;
  /* border-radius: 25px; */
  /* border : 12px dashed #1b1a19; */
  /* border : 3px dashed #ccc; */
  /* background: #5bc0de */
   background: #ffffff; 
  /* width: auto */
 }  

h3 {
  text-align: center;
  /* text-shadow: 2px 2px; */
  /* padding-bottom: 0; */
  color: rgb(127, 130, 133);
  /* margin-top: 1%; */
}
h2 {
  text-align: center;
  text-shadow: 1px 1px;
  padding-bottom: 0;
  color: white;
  margin-top: 0%;
  /* text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF; */
}
h1 {
  font-family: "Anton", sans-serif;
  font-family: "Lobster", cursive;
}
h5 {
  text-align: center;
  /* text-shadow: 2px 2px; */
  text-shadow: 2px 8px 6px rgba(245, 216, 216, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
/* .example-card {
    max-width: 400px;
  } */

.example-header-image {
  /* align-content: flex-start; */
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

mat-grid-tile {
  margin-top: 0;
  width: 100px;
}

mat-grid-list {
  grid-gap: 5px;
}

div ng2-carouselamos {
  background: transparent;
}

.movieCard {
  margin-top: -2%;
}

.split {
  height: 100%;
  width: 88%;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 3%;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
}

.right {
  right: 0;
  /* background-color: red; */
}

.bgimage {
  width: 100%;
  height: 500px;
  background: url("https://images.wallpaperscraft.com/image/film_negative_glare_123282_3840x2400.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}
.bgimage h5 {
  margin-top: 50px;
  color: white;
  text-shadow: 2px 2px #333;
}
p {
  margin-top: 50px;
}
.hero {
  /* Sizing */
  width: 100%;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/Heroimage.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.homepage{
  background: url("http://getwallpapers.com/wallpaper/full/9/0/9/994206-free-large-background-images-2560x1440.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* 
.example-card{
  border-radius: 25px;
  border: 1px solid #999;
  background: #33b5e5;
} */

