<app-nav-bar></app-nav-bar>
<div class="homepage">
  <mat-grid-list cols="12">
    <section *ngIf="!loggedIn()" class="hero">
      <div class="hero-inner">
        <h1>Welcome to E-Play</h1>
        <h2>Create Events,book movie tickets and much more..!!</h2>
        <p>
          <button class="btn btn-danger" mat-button mat-raised-button routerLink="/createEvent" routerLinkActive="active">Create Event</button>
        </p>
        <p>
          <button class="btn btn-info" (click)="scroll(target)" mat-button mat-raised-button>Book movies</button>
          <button class="btn btn-info" (click)="scroll(target1)" mat-button mat-raised-button style="margin-left: 8px">Upcoming events</button>
        </p>
      </div>
    </section>

    <!--Movies Carousel-->
    <div *ngIf=" recommendedMovie!=null && recommendedMovie.length>0">
      <div id="container">
        <div ng2-carouselamos class="slide-wrapper" [items]="items" [width]="900" [$prev]="prev" [$next]="next" [$item]="item">
        </div>
        <ng-template #prev>
          <img src="/assets/images/if_icon-ios7-arrow-back_211686.png" id="left">
        </ng-template>
        <ng-template #next>
          <img src="/assets/images/if_icon-ios7-arrow-forward_211688.png" id="right">
        </ng-template>
        <ng-template #item let-item let i="index">
          <div *ngFor="let movie of recommendedMovie" class="items">
            <a [routerLink]="['/movieinfo']" (click)="goMoviePage(movie)">
              <img class="movieposter" [width]="15000" src="{{movie.backGroundPoster}}">
            </a>
          </div>
        </ng-template>
        <h3 style="color:azure;margin-top:6px">You might also like..</h3>
      </div>
    </div>

   
    <mat-grid-list cols="12">
        <div *ngIf=" loggedIn() && recommendedEvent!=null && recommendedEvent.length>0">
          <h3 style="color:azure;margin-top:50px;">Recommended events for you..</h3>
          <div *ngFor="let event of recommendedEvent">
            <mat-grid-tile colspan="4" rowspan="5">
              <a href="ticketinfo" (click)="goMoviePage(event)">
                <mat-card class="render1">
                  <img class="render" mat-card-image src="{{event.cardPoster}}" alt="event poster">
                  <mat-card-actions>
                    <h6 style="font-family: 'Times New Roman', Times, serif"> {{event.name}}</h6>
                    {{event.city}}
                  </mat-card-actions>
                </mat-card>
              </a>
            </mat-grid-tile>
          </div>
        </div>
      </mat-grid-list>
    <!--Ticketed events recommendations-->



    <!-- <div *ngIf="rec$; else elseBlock">
    Recommendations for you..!
    <div>
        <button type="reset" mat-raised-button color="secondary" (click)="reset()">Reset</button>
      </div>
    <div *ngFor="let movie of rec$">

      <mat-grid-tile colspan="4" rowspan="6">
        <mat-card class="example-card">
          <app-event-card [name]="movie.name" [poster]="movie.poster" [city]="movie.city"></app-event-card>
          <mat-card-actions>
            <button mat-button routerLink="/movieinfo" (click)="goMoviePage(movie)">Book</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
  </div>
  
</mat-grid-list> -->

    <!-- <mat-grid-list cols="12"> -->
    <!-- Filter results-->
    <div #target>
      <div id="target">
        <div *ngIf="rec$!=null && rec$.length>0; else elseBlock">
          <div id="container">
            <div ng2-carouselamos class="slide-wrapper" [items]="items" [width]="900" [$prev]="prev" [$next]="next" [$item]="item">
            </div>

            <ng-template #prev>
              <img src="/assets/images/if_icon-ios7-arrow-back_211686.png" id="left">
            </ng-template>

            <ng-template #next>
              <img src="/assets/images/if_icon-ios7-arrow-forward_211688.png" id="right">
            </ng-template>

            <ng-template #item let-item let i="index">
              <div *ngFor="let movie of rec$" class="items">
                <a [routerLink]="['/movieinfo']" (click)="goMoviePage(movie)">
                  <img class="movieposter" src="{{movie.backGroundPoster}}">
                </a>
              </div>
            </ng-template>
            <h2 style="color:azure;margin-top:6px">Your filtered results..</h2>
            <div align="center">
              <button type="reset" mat-raised-button class="btn btn-secondary" (click)="reset()">Reset</button>
            </div>
          </div>
        </div>
      </div>



      
      


      <ng-template #elseBlock>
        <mat-grid-list cols="12">
          <h3 style="color:azure;margin-top:50px">Movies</h3>
          <div id="profileasa">
            <div class="movieCard" *ngFor="let movie of movie$">
              <mat-grid-tile colspan="4" rowspan="5">
                <a [routerLink]="['/movieinfo']" (click)="goMoviePage(movie)">
                  <mat-card class="render1">
                    <!-- <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <!-- <mat-card-title>
                      <h5>{{movie.name}}</h5>
                    </mat-card-title>
                  </mat-card-header> -->
                    <img class="render" mat-card-image src="{{movie.cardPoster}}" alt="movie poster">
                    <mat-card-actions>
                      <button class="btn btn-secondary" mat-button mat-raised-button style="margin-top: -14px;margin-left: 75px;">View and Book</button>
                    </mat-card-actions>
                  </mat-card>
                </a>
              </mat-grid-tile>
            </div>
          </div>
        </mat-grid-list>
      </ng-template>
    </div>

    <!-- </mat-grid-list> -->
    <!-- <hr> -->
    <!-- </mat-grid-list> -->
    <!-- <mat-grid-list cols="12">
    <h1>Events</h1>
    <div *ngFor="let movie of event$">
      <mat-grid-tile colspan="4" rowspan="6">
        <mat-card class="example-card">
          <app-event-card [name]="movie.name" [poster]="movie.poster"></app-event-card>
          <mat-card-actions>
            <button mat-button mat-raised-button routerLink="/movieinfo" (click)="goMoviePage(movie)">View and Book</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list> -->

    <mat-grid-list cols="12">
      <h3 #target1 style="color:azure;margin-top:4px">Events</h3>
      <div *ngFor="let movie of event$">
        <mat-grid-tile colspan="4" rowspan="5">
          <a [routerLink]="['/ticketinfo']" (click)="goMoviePage(movie)">
            <mat-card class="render1">
              <!-- <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <!-- <mat-card-title>
                <h5>{{movie.name}}</h5>
              </mat-card-title>
            </mat-card-header> -->

              <img class="render" mat-card-image src="{{movie.cardPoster}}" alt="movie poster">
              <mat-card-actions>
                <h6 style="font-family: 'Times New Roman', Times, serif"> {{movie.name}}</h6>
                {{movie.city}} {{movie.localDate}}

                <!-- <button class="btn btn-secondary" mat-button mat-raised-button routerLink="/movieinfo" (click)="goMoviePage(movie)">View and Book</button> -->
              </mat-card-actions>

            </mat-card>
          </a>
        </mat-grid-tile>
      </div>
    </mat-grid-list>


  </mat-grid-list>
</div>