<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-nav-bar></app-nav-bar> -->

<div>
  <!-- <app-home-page></app-home-page> -->

  <router-outlet></router-outlet>
  <app-alerts></app-alerts>

    
  
  <app-footer></app-footer>
</div>

<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="example-card" *ngFor="let card of cards">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">{{picture.title}}</span>
        <mat-icon fxFlex="10%">mode_edit</mat-icon>
        <mat-icon fxFlex="10%">delete</mat-icon>
      </mat-card-title>
      <img mat-card-image [src]="picture.img">
    </mat-card>
  </div> -->